body {
    background-color: lightgrey;
    margin: 50px;
}
h1 { 
    color: darkgreen;
    font-size: 50px;
    text-align: center;
}
ul.main-menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 20px;
}
ul.main-menu>li {
    display: inline;
    padding: 1px;
    border-right: 1px solid black;
}
ul.main-menu>li.last-child {
    border-right: none
}
ul.main-menu a:hover {
    background-color: #ddd;
    color: black;
}
