body {
    background-color: lightgrey;
}
h1 { 
    color: darkgreen;
    font-size: 50px;
    text-align: center;
}
ul.main-menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 30px;
}
ul.main-menu>li {
    display: inline;
}
